{{template "header"}}
<title>首页 - 百哥么么哒|网站</title>
<meta name="viewport" content="width=device-width, initial-scale=1"/>
<link rel="stylesheet" href="../static/css/main.css"/>
</head>
<body>

<div class="navbar navbar-default navbar-fixed-top">
    <div class="container">
        <a class="navbar-brand brand" href="/">TTyb|个人网站</a>

        <div class="pull-right" style="font-size: 6px;font-family: serif;">
            <ul class="nav navbar-nav">
                {{if .IsLogin}}
                <li><a class="navbar-brand" href="/login?exit=true">退出登录</a></li>
                <li>
                    <a data-toggle="dropdown" class="dropdown-toggle navbar-brand" href="#">管理<strong
                            class="caret"></strong></a>
                    <ul class="dropdown-menu container-fluid navbar-brand" style="border-radius: 6px 6px 6px 6px;">
                        <li><a href="/manage/topic">管理文章</a></li>
                        <li><a href="/manage/log">管理日志</a></li>
                    </ul>
                </li>
                {{else}}
                <li><a class="navbar-brand" href="/login">管理员登录</a></li>
                {{end}}
            </ul>
        </div>

        <div style="font-size: 6px;font-family: serif;">
            <ul class="nav navbar-nav">
                <li {{if .IsHome}} class="active" {{end}}><a class="navbar-brand" href="/">首页</a></li>
                <li {{if .IsTopic}} class="active" {{end}}><a class="navbar-brand" href="/topic">文章</a></li>
                <li {{if .IsCategory}} class="active" {{end}}><a class="navbar-brand" href="/category">分类</a></li>
                <li {{if .IsLog}} class="active" {{end}}><a class="navbar-brand" href="/log">日志</a></li>
            </ul>
        </div>
    </div>
</div>

<!-- Header -->
<header id="header" class="alt">
    <div class="inner">
        <h1>TTyb</h1>
        <p>A data mining engineer who can repair computers</p>
    </div>
</header>

<!-- Wrapper -->
<div id="wrapper">

    <!-- Banner -->
    <section id="intro" class="main">
        <span class="icon fa-diamond major"></span>
        <h2>百哥么么哒</h2>
        <p>A data mining engineer who can<br/>
            analyze data, mining data,<br/>
            programming and repair computers.</p>
        <ul class="actions">
            <li><a href="https://github.com/TTyb" class="button big">Follow</a></li>
        </ul>
    </section>

    <!-- Items -->
    <section class="main items">
        <article class="item">
            <header>
                <a href="#"><img src="../static/jpg/pic01.jpg" alt=""/></a>
                <h3>Feugiat et faucibus</h3>
            </header>
            <p>Fusce malesuada efficitur venenatis. Pellentesque tempor leo sed massa hendrerit hendrerit. In sed
                feugiat est, eu congue elit. Ut porta magna vel felis sodales vulputate. Donec faucibus dapibus lacus
                non ornare.</p>
            <ul class="actions">
                <li><a href="#" class="button">Learn More</a></li>
            </ul>
        </article>
        <article class="item">
            <header>
                <a href="#"><img src="../static/jpg/pic02.jpg" alt=""/></a>
                <h3>Blandit adipiscing</h3>
            </header>
            <p>Fusce malesuada efficitur venenatis. Pellentesque tempor leo sed massa hendrerit hendrerit. In sed
                feugiat est, eu congue elit. Ut porta magna vel felis sodales vulputate. Donec faucibus dapibus lacus
                non ornare.</p>
            <ul class="actions">
                <li><a href="#" class="button">Learn More</a></li>
            </ul>
        </article>
        <article class="item">
            <header>
                <a href="#"><img src="../static/jpg/pic03.jpg" alt=""/></a>
                <h3>Lorem massa nulla</h3>
            </header>
            <p>Fusce malesuada efficitur venenatis. Pellentesque tempor leo sed massa hendrerit hendrerit. In sed
                feugiat est, eu congue elit. Ut porta magna vel felis sodales vulputate. Donec faucibus dapibus lacus
                non ornare.</p>
            <ul class="actions">
                <li><a href="#" class="button">Learn More</a></li>
            </ul>
        </article>
        <article class="item">
            <header>
                <a href="#"><img src="../static/jpg/pic04.jpg" alt=""/></a>
                <h3>Ipsum sed tempus</h3>
            </header>
            <p>Fusce malesuada efficitur venenatis. Pellentesque tempor leo sed massa hendrerit hendrerit. In sed
                feugiat est, eu congue elit. Ut porta magna vel felis sodales vulputate. Donec faucibus dapibus lacus
                non ornare.</p>
            <ul class="actions">
                <li><a href="#" class="button">Learn More</a></li>
            </ul>
        </article>
    </section>

    <!-- CTA -->
    <section id="cta" class="main special">
        <h3>无聊就想打码 打码使我快乐</h3>
        <p class="text-muted">不用多久<br/>
            我就会升职加薪<br/>
            当上总经理<br/>
            出任CEO<br/>
            迎娶白富美<br/>
            走上人生巅峰</p>
    </section>

    <!-- Main -->

    <!-- Footer -->
    <footer id="footer">
        <ul class="icons">
            <li><a href="#" class="icon fa-qq" onclick="QQ()"><span class="label">QQ</span></a></li>
            <li><a href="https://github.com/TTyb" class="icon fa-github"><span class="label">Github</span></a></li>
            <li><a href="/" class="icon fa-home"><span class="label">首页</span></a></li>
            <li><a href="http://www.cnblogs.com/TTyb/" class="icon fa-heart"><span class="label">博客园</span></a></li>
            <li><a href="http://www.cnblogs.com/nima/" class="icon fa-link"><span class="label">友情链接</span></a></li>
        </ul>
        <p class="copyright">Copyright &copy; TTyb All rights reserved.</p>
    </footer>

</div>

<!-- Scripts -->
<script src="../static/js/jquery.min.js"></script>
<script src="../static/js/skel.min.js"></script>
<script src="../static/js/util.js"></script>
<script src="../static/js/main.js"></script>
<script type="text/javascript">

    function QQ() {
        window.alert("QQ:420439007");
    }

</script>
</body>
</html>