{{template "header"}}
<title>文章 - 百哥么么哒</title>
<style>
    .text-overflow {
        display: block;
        width: 90%;
        word-break: keep-all;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }
</style>

</head>

<body>
<div class="navbar navbar-default navbar-fixed-top">
    <div class="container">
        {{template "navbar" .}}
    </div>
</div>

<div class="container">
    {{range .Topics}}
    <div class="page-header">
        <h2><a href="/topic/view?title={{.Title}}">{{.Title}}</a></h2>
        <h6 class="text-muted">文章发表于 {{.Createdtime}} 分类：{{.Category}}</h6>
        <p class="text-overflow">
            {{.Content}}
        </p>
    </div>
    {{end}}
</div>

<script type="text/javascript" src="http://cdn.staticfile.org/jquery/2.0.3/jquery.min.js"></script>
<script type="text/javascript" src="/static/js/bootstrap.min.js"></script>
</body>
</html>
